* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(82, 211, 200), rgb(135, 162, 200));
  text-align: center;
}
.eachuser {
  padding: 20px;
  margin: 20px;
  background-size: auto;
}
